*{
    font-family: 'Poppins', sans-serif;
    // font-family: 'Raleway', sans-serif;
}


.nav__list__list-item{
    font-size: 15px;
    line-height: 26px;
    font-weight: bold;
}

/*  header fonts */
header h1{
    font-family: Raleway;
    font-size: 44px;
    font-weight: 800;
    line-height: 26px;
}
header h4{
    font-size: 22px;
    font-weight: normal;
    font-style: italic;
    line-height: 26px;
}

header .block .block__header-button{
    font-family: Raleway;
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
}

@media (max-width: 1500px)
{
    header h1{
        line-height: 44px;
    }
}

@media (max-height: 1000px)
{
    header h4{
        padding-top: 40px;
    }
}
/*  header fonts */




/* section.conference-countdown fonts  */
section.conference-countdown{
    h3{
        font-family: Raleway;
        color: #222222;
        font-size: 26px;
        font-weight: 700;
        line-height: 33px;
        margin: 0;
        padding: 0;
    }
    h5{
        color: #777777;
        font-size: 14px;
        font-weight: 500;
        line-height: 26px;
        margin: 0;
        padding: 0;
    }


    .flex-container{
        .section__block{
            .black{
                font-size: 20px;
                font-weight: 600;
                line-height: 45px; //line-height equal to container height will center
                color: white;
            }
        }
    }



    
    .timer__block__label{
        font-family: Raleway;
        color: #777777;
        font-size: 15px;/* Approximation due to font substitution */
        font-weight: 400;
        line-height: 26px;       
    }

}



/* section.conference-countdown fonts  */



/* main events section */

main.events{
    // text-align: center;
    h2.events__header{
        font-family: Raleway;
        color: #222222;
        font-size: 36px;
        font-weight: 800;
        line-height: 26px;
        
    }
    p.events__paragraph{
        color: #777777;
        font-size: 17px;
        font-style: italic;
        line-height: 26px;
    }

    p.events__desc__paragraph{
        color: #777777;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
    }

    .events__desc .events__desc__link{
        text-decoration: none;
        color: #e85889;
        font-size: 16px;
        font-weight: 600px;
        font-style: italic;
        line-height: 26px;
    }
}


/* main events section */


/* join event section*/

section.join-event{
    h1{
        margin: 0;
        font-family: Raleway;
        color: #ffffff;
        font-size: 36px;
        font-weight: 700;
        line-height: 26px;
    }

    p{
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
    }

    input[type="email"]{
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
    }

    input[type="button"]{
        font-family: Raleway;
        color: #ffffff;
        font-size: 15px;
        font-weight: 700;
        line-height: 26px;
    }
}
/* join event section*/


// event speakers section

.event-speakers{
    h1{
        font-family: Raleway;
        color: #222222;
        font-size: 36px;
        font-weight: 800;
        line-height: 26px;
    }
    p.section-paragraph{
        color: #777777;
        font-size: 17px;
        font-style: italic;
        line-height: 26px;
    }

    .profile{
        h4.nametag{
            font-family: Raleway;
            color: #222222;
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
            margin: 0;
            padding: 0;
        }
        p.titletag{
            color: #777777;
            font-size: 13px;
            font-weight: 400;
            line-height: 22px;
        }
    }
}

// event speakers section


//pricing section
h1.pricing__header{
    font-family: Raleway;
    color: #ffffff;
    font-size: 36px;
    font-weight: 800;
    line-height: 26px;
}

p.pricing__sub-header{
    color: #ffffff;
    font-size: 17px;
    font-style: italic;
    line-height: 26px;
}

.price-listing{
    .plan-name{
        font-family: Raleway;
        color: #222222;
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
        margin: 0;
    }

    .plan-desc{
        color: #777777;
        font-size: 14px;
        font-weight: 300;
        line-height: 26px;
        margin-top: 10px;
        padding: 0;
    }

    .plan-price{
        color: #222222;
        font-size: 36px;
        font-weight: 300;
        line-height: 26px;
    }

    .monthly{
        color: #777777;
        font-size: 14px;
        font-weight: 300;
        line-height: 26px;
    }

    .dollar{
        color: #222222;
        font-size: 40px;
        font-weight: 500;
        line-height: 26px;
    }

    .plan-perks{
        text-align: left;
        p{
            font-family: OpenSans;
            color: #777777;
            font-size: 15px;
            font-weight: 400;
            line-height: 38px;
        }
    }

    #trapezoid p{
        font-family: Raleway;
        color: #ffffff;
        font-size: 13px;
        font-weight: 500;
    }
}


@media(max-width:1500px){
    .price-listing{
        .plan-perks{
            p{
                line-height: 22px;
            }
        }
    }
}


//needs breakpoint work
//pricing section
