*{
    font-family: 'Poppins', sans-serif;
}

.events h1, .join-event h1, 
.event-speakers h1, .pricing h1, 
.schedule h1, .news h1{
    font-family: Raleway;
    color: #222222;
    font-size: 36px;
    font-weight: 800;
    line-height: 26px;
    text-align: center;
}

p.events__subheader, p.event-speakers__subheader, 
p.pricing__subheader, p.news__subheader{
    color: #777777;
    font-size: 17px;
    font-style: italic;
    line-height: 26px;
    text-align: center;
}




input[type="button"]{
    font-family: Raleway;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
}


.nav__list__list-item{
    font-size: 15px;
    line-height: 26px;
    font-weight: bold;
}

/*  header fonts */
header h1{
    font-family: Raleway;
    font-size: 44px;
    font-weight: 800;
    line-height: 26px;
}
header h4{
    font-size: 22px;
    font-weight: normal;
    font-style: italic;
    line-height: 26px;
}

@media (max-width: 1500px)
{
    header h1{
        line-height: 44px;
    }
}

@media (max-height: 1000px)
{
    header h4{
        padding-top: 40px;
    }
}
/*  header fonts */


////////////////////////////////////////
/* section.conference-countdown fonts */
section.conference-countdown{
    h3{
        font-family: Raleway;
        color: #222222;
        font-size: 26px;
        font-weight: 700;
        line-height: 33px;
        margin: 0;
        padding: 0;
    }
    h5{
        color: #777777;
        font-size: 14px;
        font-weight: 500;
        line-height: 26px;
        margin: 0;
        padding: 0;
    }

    .flex-container{
        .section__block{
            .black{
                font-size: 20px;
                font-weight: 600;
                line-height: 45px; //line-height equal to container height will center
                color: white;
            }
        }
    }
    
    .timer__block__label{
        font-family: Raleway;
        color: #777777;
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;       
    }
}

/* section.conference-countdown fonts */
////////////////////////////////////////

/////////////////////////
/* main events section */

main.events{

    p.events__desc__paragraph{
        color: #777777;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
    }

    .events__desc .events__desc__link{
        text-decoration: none;
        color: #e85889;
        font-size: 16px;
        font-weight: 600px;
        font-style: italic;
        line-height: 26px;
    }
}

/* main events section */
////////////////////////

///////////////////////
/* join event section*/

section.join-event{

    h1{
        margin: 0;
        color: #ffffff;
        font-weight: 700;
    }

    p{
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
    }

    input[type="email"]{
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
    }
}
/* join event section*/
///////////////////////


////////////////////////////
/* event speakers section */
.event-speakers{

    .profile{
        h4.nametag{
            font-family: Raleway;
            color: #222222;
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
            margin: 0;
            padding: 0;
        }
        p.titletag{
            color: #777777;
            font-size: 13px;
            font-weight: 400;
            line-height: 22px;
        }
    }
}
/* event speakers section */
////////////////////////////


////////////////////
/*pricing section */
h1.pricing__header, p.pricing__subheader{
    color: #ffffff;
}

.price-listing{
    .plan-name{
        font-family: Raleway;
        color: #222222;
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
        margin: 0;
    }

    .plan-desc{
        color: #777777;
        font-size: 14px;
        font-weight: 300;
        line-height: 26px;
        margin-top: 10px;
        padding: 0;
    }

    .plan-price{
        color: #222222;
        font-size: 36px;
        font-weight: 300;
        line-height: 26px;
    }

    .monthly{
        color: #777777;
        font-size: 14px;
        font-weight: 300;
        line-height: 26px;
    }

    .dollar{
        color: #222222;
        font-size: 40px;
        font-weight: 500;
        line-height: 26px;
    }

    .plan-perks{
        text-align: left;
        p{
            font-family: OpenSans;
            color: #777777;
            font-size: 15px;
            font-weight: 400;
            line-height: 38px;
        }
    }

    #trapezoid p{
        font-family: Raleway;
        color: #ffffff;
        font-size: 13px;
        font-weight: 500;
    }
}


@media(max-width:1500px){
    .price-listing .plan-perks p{
        line-height: 22px;
    }
    
}
/*pricing section */
////////////////////

/////////////////////
/*schedule section */
section.schedule{
    text-align: center;

    p.schedule__subheader{
        color: #777777;
        font-size: 17px;
        font-style: italic;
        line-height: 26px;
    }

    p.date{
        color: #b7b7b7;
        font-size: 13px;
        font-weight: 400;
        line-height: 26px;
    }

    p.numbered-day{
        color: #222222;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
    }


    .profile-info{
        .speaker-name{
            font-family: Raleway;
            color:#222222;
            font-size: 14px;
            font-weight: 500;
            line-height: 28px;
        }

        .scheduled-time{
            font-family: Raleway;
            color: #777777;
            font-size: 13px;
            font-weight: 400;
            line-height: 28px;
        }

        h3{
            font-family: Raleway;
            color: #222222;
            font-size: 18px;
            font-weight: 700;
            line-height: 28px;
        }
        p{
            color: #666666;
            font-size: 13px;
            font-weight: 400;
            line-height: 24px;
        }
    }   
}
/*schedule section */
/////////////////////


////////////////////
/*quotes sections */
section.quotes{

    h1.header-quote{
        font-family: Raleway;
        color: #fafafa;
        font-size: 30px;
        font-weight: 700;
        line-height: 46px;

        &:before{
            color: #bfb9f6;
            font-size: 17px;
            font-style: italic;
            line-height: 28px;
        }
    }

    h3.quote-content{
        color: #bfb9f6;
        font-size: 17px;
        font-style: italic;
        line-height: 28px;
    }

    p.quoter-name{
        color:  #fafafa;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
    }

    span.quoter-title{
        color: #bfb9f6;
        font-size: 17px;
        font-style: italic;
        line-height: 28px;
    }
}


@media(max-width: 640px){
    section.quotes{
        h1.header-quote{
            font-size: 24px;
        }
        h3.quote-content{
            font-size: 14px;
            line-height: 24px;
        }
    }
}
/* quotes sections */
/////////////////////


///////////////////
/* news sections */
section.news{
    h2.news-header{
        font-family: Raleway;
        color: #222222;
        font-size: 22px;
        font-weight: 600;
        line-height: 26px;
    }

    p.news-author{
        color: #ababab;
        font-size: 13px;
        font-weight: 400;
        line-height: 26px;
    }

    p.news-desc{
        color: #777777;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
    }

    .facebook-box{
        font-family: Raleway;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
    }
}
/* news sections */
///////////////////

///////////////////////////////
/* subscribe to news section */
section.newsletter{
    h1.newsletter__header{
        margin-top: 0;
        font-family: Raleway;
        color: #222222;
        font-size: 28px;
        font-weight: 700;
        line-height: 28px;
    }

    input[type="email"]{
        color: #999999;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
    }
}
/* subscribe to news section */
///////////////////////////////


////////////////////////
/* contact us section */
section.contact-us{
    .fa-map-marker-alt,
    .fa-mobile-alt,
    .fa-envelope{
        width: 30px;
        height: 20px;
    }
    color: #ababab;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}
/*contact us section */
///////////////////////

////////////////////
/* footer section */
footer{
    color: #ababab;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;

    ul li:hover{
        color: white;
    }

    .copyright{
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
        line-height: 28px;
    }

    .brand{
        color: #e85889;
        font-size: 15px;
        font-weight: 400;
        line-height: 28px;
    }
}
/* footer section */
////////////////////