@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  font-family: 'Poppins', sans-serif; }

.nav__list__list-item {
  font-size: 15px;
  line-height: 26px;
  font-weight: bold; }

/*  header fonts */
header h1 {
  font-family: Raleway;
  font-size: 44px;
  font-weight: 800;
  line-height: 26px; }

header h4 {
  font-size: 22px;
  font-weight: normal;
  font-style: italic;
  line-height: 26px; }

header .block .block__header-button {
  font-family: Raleway;
  font-size: 15px;
  font-weight: 700;
  line-height: 26px; }

@media (max-width: 1500px) {
  header h1 {
    line-height: 44px; } }

@media (max-height: 1000px) {
  header h4 {
    padding-top: 40px; } }

/*  header fonts */
/* section.conference-countdown fonts  */
section.conference-countdown h3 {
  font-family: Raleway;
  color: #222222;
  font-size: 26px;
  font-weight: 700;
  line-height: 33px;
  margin: 0;
  padding: 0; }

section.conference-countdown h5 {
  color: #777777;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  margin: 0;
  padding: 0; }

section.conference-countdown .flex-container .section__block .black {
  font-size: 20px;
  font-weight: 600;
  line-height: 45px;
  color: white; }

section.conference-countdown .timer__block__label {
  font-family: Raleway;
  color: #777777;
  font-size: 15px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 26px; }

/* section.conference-countdown fonts  */
/* main events section */
main.events h2.events__header {
  font-family: Raleway;
  color: #222222;
  font-size: 36px;
  font-weight: 800;
  line-height: 26px; }

main.events p.events__paragraph {
  color: #777777;
  font-size: 17px;
  font-style: italic;
  line-height: 26px; }

main.events p.events__desc__paragraph {
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px; }

main.events .events__desc .events__desc__link {
  text-decoration: none;
  color: #e85889;
  font-size: 16px;
  font-weight: 600px;
  font-style: italic;
  line-height: 26px; }

/* main events section */
/* join event section*/
section.join-event h1 {
  margin: 0;
  font-family: Raleway;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 26px; }

section.join-event p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px; }

section.join-event input[type="email"] {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px; }

section.join-event input[type="button"] {
  font-family: Raleway;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  line-height: 26px; }

/* join event section*/
.event-speakers h1 {
  font-family: Raleway;
  color: #222222;
  font-size: 36px;
  font-weight: 800;
  line-height: 26px; }

.event-speakers p.section-paragraph {
  color: #777777;
  font-size: 17px;
  font-style: italic;
  line-height: 26px; }

.event-speakers .profile h4.nametag {
  font-family: Raleway;
  color: #222222;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin: 0;
  padding: 0; }

.event-speakers .profile p.titletag {
  color: #777777;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px; }

h1.pricing__header {
  font-family: Raleway;
  color: #ffffff;
  font-size: 36px;
  font-weight: 800;
  line-height: 26px; }

p.pricing__sub-header {
  color: #ffffff;
  font-size: 17px;
  font-style: italic;
  line-height: 26px; }

.price-listing .plan-name {
  font-family: Raleway;
  color: #222222;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  margin: 0; }

.price-listing .plan-desc {
  color: #777777;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  margin-top: 10px;
  padding: 0; }

.price-listing .plan-price {
  color: #222222;
  font-size: 36px;
  font-weight: 300;
  line-height: 26px; }

.price-listing .monthly {
  color: #777777;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px; }

.price-listing .dollar {
  color: #222222;
  font-size: 40px;
  font-weight: 500;
  line-height: 26px; }

.price-listing .plan-perks {
  text-align: left; }
  .price-listing .plan-perks p {
    font-family: OpenSans;
    color: #777777;
    font-size: 15px;
    font-weight: 400;
    line-height: 38px; }

.price-listing #trapezoid p {
  font-family: Raleway;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500; }

@media (max-width: 1500px) {
  .price-listing .plan-perks p {
    line-height: 22px; } }

section.schedule {
  text-align: center; }
  section.schedule h1.section-header {
    font-family: Raleway;
    color: #222222;
    font-size: 36px;
    font-weight: 800;
    line-height: 26px; }
  section.schedule h1.section-desc {
    color: #777777;
    font-size: 17px;
    font-style: italic;
    line-height: 26px; }
  section.schedule p.date {
    color: #b7b7b7;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px; }
  section.schedule p.numbered-day {
    color: #222222;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px; }
  section.schedule .profile-info .speaker-name {
    font-family: Raleway;
    color: #222222;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px; }
  section.schedule .profile-info .scheduled-time {
    font-family: Raleway;
    color: #777777;
    font-size: 13px;
    font-weight: 400;
    line-height: 28px; }
  section.schedule .profile-info h3 {
    font-family: Raleway;
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px; }
  section.schedule .profile-info p {
    color: #666666;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px; }

section.quotes h1.header-quote {
  font-family: Raleway;
  color: #fafafa;
  font-size: 30px;
  font-weight: 700;
  line-height: 46px; }
  section.quotes h1.header-quote:before {
    color: #bfb9f6;
    font-size: 17px;
    font-style: italic;
    line-height: 28px; }

section.quotes h3.quote-content {
  color: #bfb9f6;
  font-size: 17px;
  font-style: italic;
  line-height: 28px; }

section.quotes p.quoter-name {
  color: #fafafa;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px; }

section.quotes span.quoter-title {
  color: #bfb9f6;
  font-size: 17px;
  font-style: italic;
  line-height: 28px; }

section.news h1.section-header {
  font-family: Raleway;
  color: #222222;
  font-size: 36px;
  font-weight: 800;
  line-height: 26px; }

section.news h2.news-header {
  font-family: Raleway;
  color: #222222;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px; }

section.news p.news-author {
  color: #ababab;
  font-size: 13px;
  font-weight: 400;
  line-height: 26px; }

section.news p.news-desc {
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px; }

section.news input[type="button"] {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px; }

section.news .facebook-box {
  font-family: Raleway;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px; }

section.newsletter h1.section-header {
  margin-top: 0;
  font-family: Raleway;
  color: #222222;
  font-size: 28px;
  font-weight: 700;
  line-height: 28px; }

section.newsletter input[type="email"] {
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px; }

section.newsletter input[type="button"] {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px; }

section.contact-us {
  color: #ababab;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px; }
  section.contact-us .fa-map-marker-alt,
  section.contact-us .fa-mobile-alt,
  section.contact-us .fa-envelope {
    width: 30px;
    height: 20px; }

footer {
  color: #ababab;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px; }
  footer ul li:hover {
    color: white; }
  footer .copyright {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px; }
  footer .brand {
    color: #e85889;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px; }

.main-header {
  height: 100vh;
  background-image: url("../images/main-image.png");
  background-position: center;
  background-size: cover;
  padding-top: 10px; }
  .main-header .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
    height: 76px; }
    .main-header .flex-container .img-container {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      padding-top: 5px; }
  .main-header .separator {
    margin-top: 40px;
    height: 4px;
    border-bottom: rgba(255, 255, 255, 0.22) 1px solid;
    border-top: rgba(255, 255, 255, 0.22) 1px solid; }

nav {
  padding: 20px; }
  nav .nav__hamburger {
    display: none;
    width: 40px;
    height: 40px;
    color: white; }
  nav .nav__list {
    list-style: none; }
    nav .nav__list .nav__list__list-item {
      display: inline-block;
      padding: 10px;
      color: white; }
    nav .nav__list .search {
      border-radius: 50%;
      background-color: #e85889;
      width: 44px;
      height: 44px;
      margin-left: 10px;
      padding: 12px 0px;
      font-size: 18px;
      line-height: 18px;
      text-align: center; }

.block {
  color: white;
  text-align: center;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%); }
  .block .block__header-button {
    background-color: #e85889;
    border: 1px;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    padding: 10px 40px; }
  .block .block__paragraph {
    font-size: 30px; }

@media (max-width: 1500px) {
  nav .nav__hamburger {
    display: inline-block;
    padding: 20px; }
  nav .nav__list, nav nav:active .nav__list {
    display: none;
    position: absolute;
    padding: 20px;
    background: #fff;
    border: 5px solid #444;
    right: 0;
    top: 60px;
    width: 270px; }
    nav .nav__list .nav__list__list-item, nav nav:active .nav__list .nav__list__list-item {
      text-align: center;
      width: 100%;
      padding: 10px 0;
      margin: 0;
      color: black; }
  nav:hover .nav__list {
    display: block; }
  .nav__list .nav__list__list-item {
    padding: 0; }
  .block {
    -webkit-transform: initial;
    -ms-transform: initial;
    transform: initial; }
    .block .block__paragraph {
      padding-top: 40px; } }

@media (max-height: 1000px) {
  .block .block__paragraph {
    display: none; } }

.wrapper {
  position: relative;
  max-width: 70%;
  margin: 0 auto; }

@media (max-width: 480px) {
  .wrapper {
    max-width: 80%; } }

.conference-countdown {
  background-color: #fafafa;
  -webkit-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.03); }
  .conference-countdown .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

/* section.conference-countdown fonts  */
section.conference-countdown {
  padding: 75px 0; }
  section.conference-countdown .section__block .timer__block {
    display: inline-block; }
  section.conference-countdown .section__block .timer__separator {
    margin: 10px 10px; }
  section.conference-countdown .text {
    width: 25%;
    -ms-flex-preferred-size: 280px;
    flex-basis: 280px; }
  section.conference-countdown .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    section.conference-countdown .flex-container .timer__block {
      width: 37px;
      height: 45px;
      border-radius: 5px;
      text-align: center; }
    section.conference-countdown .flex-container .black {
      background-color: #333333; }
  section.conference-countdown .section__buttons {
    text-align: right; }
    section.conference-countdown .section__buttons input[type="button"] {
      background-color: #e85889;
      border: 1px;
      border-radius: 5px;
      color: white;
      padding: 10px 40px; }

@media (max-width: 1500px) {
  section.conference-countdown .flex-container .text {
    text-align: right; }
  section.conference-countdown .section__buttons {
    width: 100%; } }

@media (max-width: 1100px) {
  section.conference-countdown .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    section.conference-countdown .flex-container .text {
      text-align: center;
      width: 100%;
      -ms-flex-preferred-size: initial;
      flex-basis: initial; }
    section.conference-countdown .flex-container .flex-container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    section.conference-countdown .flex-container .section__buttons {
      width: 100%;
      text-align: center; } }

@media (max-width: 480px) {
  section.conference-countdown .section__block {
    margin-top: 20px; }
    section.conference-countdown .section__block .timer__separator {
      margin: 10px 3px; } }

main.events {
  padding: 100px 0; }
  main.events .events__header,
  main.events .events__paragraph {
    text-align: center; }
  main.events .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    main.events .flex-container .events__container {
      width: 30%;
      max-width: 367px; }
      main.events .flex-container .events__container .events__desc {
        text-align: left;
        -webkit-box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.13);
        box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.13); }
      main.events .flex-container .events__container .events__container__img {
        width: 100%;
        padding: 0;
        margin: 0;
        display: block; }
      main.events .flex-container .events__container .events__desc {
        padding: 25px; }
      main.events .flex-container .events__container img {
        margin: 0;
        padding: 0;
        max-height: 100%;
        max-width: 100%;
        display: block; }
      main.events .flex-container .events__container .events__desc__header {
        margin: 0; }

@media (max-width: 768px) {
  main.events .flex-container .events__container {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px; } }

@media (max-width: 480px) {
  main.events h2.events__header {
    line-height: 42px; } }

section.join-event {
  padding: 100px 0;
  background: url(../images/join-event-bg.png);
  text-align: center; }
  section.join-event input[type="email"] {
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgba(70, 63, 140, 0);
    padding: 15px 20px;
    margin: 0; }
  section.join-event input[type="button"] {
    background-color: #e85889;
    border-radius: 5px;
    border: 1px solid #e85889;
    padding: 15px 20px;
    margin: 0; }

section.event-speakers {
  text-align: center;
  padding: 100px 0; }
  section.event-speakers .dark-circle-1 {
    top: 60%;
    left: 20%; }
  section.event-speakers .dark-circle-2 {
    top: 60%;
    left: 45%; }
  section.event-speakers .dark-circle-3 {
    top: 60%;
    left: 70%; }
  section.event-speakers .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  section.event-speakers .speaker-container {
    position: relative;
    margin: 10px; }
    section.event-speakers .speaker-container:hover .dark-circle {
      display: block;
      position: absolute; }
    section.event-speakers .speaker-container:hover .profile {
      background-color: #463f8c; }
      section.event-speakers .speaker-container:hover .profile h4.nametag {
        color: white; }
      section.event-speakers .speaker-container:hover .profile p.titletag {
        color: #a6a0e3; }
    section.event-speakers .speaker-container img {
      max-width: 100%;
      display: block;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      margin: 0;
      padding: 0; }
    section.event-speakers .speaker-container .fa-google-plus-g,
    section.event-speakers .speaker-container .fa-twitter,
    section.event-speakers .speaker-container .fa-facebook-f {
      margin: 0;
      padding: 0; }
    section.event-speakers .speaker-container .profile {
      padding: 20px 10px;
      text-align: center;
      -webkit-box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.03);
      box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.03);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
      section.event-speakers .speaker-container .profile h4 {
        padding: 0;
        margin: 0; }
      section.event-speakers .speaker-container .profile p {
        padding: 0;
        margin: 0; }
  section.event-speakers .dark-circle {
    display: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.55);
    width: 34px;
    height: 34px;
    padding: 2px 0px;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    color: white; }
    section.event-speakers .dark-circle:hover {
      background-color: #e85889; }
  section.event-speakers .flex-dots {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  section.event-speakers .dots {
    border-radius: 50%;
    background-color: #463f8c;
    width: 11px;
    height: 11px;
    margin: 3px; }
  section.event-speakers a:target {
    border: 1px solid #e85889;
    border-radius: 50%; }
  section.event-speakers a:target > div {
    background-color: #e85889;
    margin: 1px; }

@media (max-width: 1600px) {
  section.event-speakers .flex-container {
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

@media (max-width: 768px) {
  section.event-speakers .flex-dots {
    display: none; } }

section.pricing {
  padding-top: 100px;
  background: url("../images/pricing-image.png");
  height: 75vh;
  width: 100vw;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center; }
  section.pricing .price-listing {
    margin-top: 100px;
    padding: 30px;
    -webkit-box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.04);
    box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.04);
    background-color: white;
    width: 100%;
    height: 80vh; }
  section.pricing .flex-plans {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%; }
    section.pricing .flex-plans .basic-plan,
    section.pricing .flex-plans .optimal-plan,
    section.pricing .flex-plans .premium-plan {
      position: relative;
      border: 1px solid #ececec;
      background-color: #fafafa;
      width: 33%;
      margin: 0 20px;
      padding: 50px 0;
      height: 100%; }
      section.pricing .flex-plans .basic-plan .plan-perks input[type="button"],
      section.pricing .flex-plans .optimal-plan .plan-perks input[type="button"],
      section.pricing .flex-plans .premium-plan .plan-perks input[type="button"] {
        margin: 0 auto; }
    section.pricing .flex-plans .basic-plan {
      margin-left: 5px; }
    section.pricing .flex-plans .premium-plan {
      margin-right: 5px; }
    section.pricing .flex-plans .optimal-plan {
      position: relative; }
      section.pricing .flex-plans .optimal-plan #trapezoid {
        border-bottom: 45px solid #463f8c;
        border-left: 45px solid transparent;
        border-right: 45px solid transparent;
        height: 0;
        width: 160px;
        color: white;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        right: -40px;
        top: 18px; }
        section.pricing .flex-plans .optimal-plan #trapezoid p {
          width: 100%;
          text-align: center;
          margin: 0 -40px 0 0;
          padding: 0; }
    section.pricing .flex-plans .plan-perks {
      text-align: center; }
      section.pricing .flex-plans .plan-perks p {
        text-align: left;
        margin: 0;
        border-top: 1px dashed #e0e0e0;
        padding: 10px 50px; }
      section.pricing .flex-plans .plan-perks input[type="button"] {
        background-color: #e85889;
        border: 1px solid #e85889;
        border-radius: 5px;
        padding: 15px 20px;
        color: white; }

section.pricing-white {
  height: 85vh; }

@media (max-width: 1500px) {
  .basic-plan,
  .optimal-plan,
  .premium-plan {
    margin: 0 5px; } }

@media (max-width: 1200px) {
  section.pricing .price-listing {
    height: 50vh; }
    section.pricing .price-listing .plan-perks p {
      display: none; }
  section.pricing-white {
    height: 40vh; } }

section.schedule {
  padding: 100px 0;
  background-color: #fafafa; }
  section.schedule .section-desc {
    padding-bottom: 50px; }
  section.schedule .flex-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
    section.schedule .flex-content .flex-schedule-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
  section.schedule .flex-schedule-block {
    padding-top: 50px;
    width: 25%; }
    section.schedule .flex-schedule-block .day {
      border: 1px solid #ececec;
      padding: 30px;
      text-align: left; }
      section.schedule .flex-schedule-block .day:hover {
        background-color: #e85889; }
    section.schedule .flex-schedule-block .date,
    section.schedule .flex-schedule-block .numbered-day {
      margin: 0;
      padding: 0; }
  section.schedule .event-guests {
    width: 75%; }
    section.schedule .event-guests .scheduled-speaker-1 {
      background: url("../images/schedule-1.png"); }
    section.schedule .event-guests .scheduled-speaker-2 {
      background: url("../images/schedule-2.png"); }
    section.schedule .event-guests .scheduled-speaker-3 {
      background: url("../images/schedule-3.png"); }
    section.schedule .event-guests .scheduled-speaker {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -41px 0 0 -41px;
      border-radius: 50% 50% 50% 50%;
      width: 82px;
      height: 82px;
      background-size: cover; }
    section.schedule .event-guests .outer-circle {
      position: relative;
      border: 7px solid #ececec;
      border-radius: 50%;
      width: 94px;
      height: 94px; }
    section.schedule .event-guests .grid-profile {
      border-left: 1px dashed #ececec;
      margin: 0 100px;
      display: grid;
      text-align: left;
      grid-template-columns: 1fr 5fr;
      grid-template-rows: 180px 180px 180px; }
      section.schedule .event-guests .grid-profile h4 {
        margin: 0;
        padding: 0;
        display: inline; }
      section.schedule .event-guests .grid-profile p.scheduled-time {
        padding-left: 15px;
        display: inline; }
      section.schedule .event-guests .grid-profile h3 {
        margin: 8px 0; }
    section.schedule .event-guests .outer-circle {
      margin: 0 auto; }

section.quotes {
  padding: 100px 0;
  background-color: #463f8c; }
  section.quotes .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  section.quotes .speakers-list {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  section.quotes .quoter1 {
    background: url(../images/quote-1.png); }
  section.quotes .quoter2 {
    background: url(../images/quote-2.png); }
  section.quotes .quoter3 {
    background: url(../images/quote-3.png); }
  section.quotes .quoter4 {
    background: url(../images/quote-4.png); }
  section.quotes .quoter {
    margin: 15px 0;
    border-radius: 50%;
    background-size: cover;
    width: 46px;
    height: 46px; }
    section.quotes .quoter:hover {
      -webkit-box-shadow: 0 0 0 7px #ececec;
      box-shadow: 0 0 0 7px #ececec; }
  section.quotes .quoteblock {
    position: relative;
    width: 35%; }
    section.quotes .quoteblock h1.header-quote {
      margin: 0;
      padding: 0; }
      section.quotes .quoteblock h1.header-quote:before {
        top: 35px;
        left: -75px;
        position: absolute;
        content: "“";
        font-size: 110px;
        font-weight: 400;
        line-height: 26px; }

section.news {
  padding: 100px 0; }
  section.news .news-section-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  section.news .blog-content1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 68%; }
    section.news .blog-content1 .blog-image1, section.news .blog-content1 .blog-desc1 {
      width: 50%; }
    section.news .blog-content1 .blog-image1 {
      background: url("../images/news-1.png");
      background-size: cover;
      height: 301px; }
  section.news .blog-content2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 30%;
    margin-left: 2%; }
    section.news .blog-content2 .blog-image2 {
      width: 100%;
      background: url("../images/news-2.png");
      background-size: cover;
      height: 301px; }
  section.news .blog-desc1, section.news .blog-desc2, section.news .blog-desc3 {
    background-color: #fafafa;
    height: 301px;
    padding: 30px; }
  section.news .blog-desc3 {
    width: 50%; }
  section.news .blog-desc2 {
    padding-top: 30px; }
  section.news .facebook-box {
    height: 301px;
    width: 50%;
    margin-top: 3%;
    margin-left: 0%;
    padding: 3% 0; }
    section.news .facebook-box .blue-half, section.news .facebook-box .grey-half {
      height: 50%; }
    section.news .facebook-box .blue-half {
      padding-top: 20px;
      background-color: #463f8c;
      text-align: center; }
      section.news .facebook-box .blue-half a {
        text-decoration: none;
        color: white; }
    section.news .facebook-box .grey-half {
      background-color: #fafafa; }
  section.news input[type="button"] {
    background-color: #e85889;
    border-radius: 5px;
    border: 1px solid #e85889;
    padding: 10px 40px; }

@media (max-width: 1200px) {
  section.news .blog-content1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    section.news .blog-content1 .blog-image1, section.news .blog-content1 .blog-desc1, section.news .blog-content1 .blog-desc3, section.news .blog-content1 .blog-desc2, section.news .blog-content1 .facebook-box {
      width: 100%; }
    section.news .blog-content1 .facebook-box {
      margin-bottom: 75px; }
    section.news .blog-content1 .blog-desc3, section.news .blog-content1 .facebook-box {
      margin-top: 75px; }
  section.news .blog-content1, section.news .blog-content2 {
    width: 100%; } }

section.newsletter {
  background: url("../images/white-pattern-bg.png");
  width: 100vw;
  padding: 100px 0;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center; }
  section.newsletter input[type="email"] {
    border-radius: 5px;
    border: 1px solid white;
    margin-right: 10px;
    padding: 10px 20px; }
  section.newsletter input[type="button"] {
    background-color: #e85889;
    border: 1px;
    border-radius: 5px;
    color: white;
    padding: 10px 40px; }

section.contact-us {
  background-color: #1b1b1b;
  padding: 50px 0; }
  section.contact-us .flex-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  section.contact-us .circle-container {
    -ms-flex-preferred-size: 58px;
    flex-basis: 58px;
    border-radius: 50%;
    min-width: 58px;
    height: 58px;
    background-color: #2f2f2f;
    text-align: center;
    line-height: 60px; }
  section.contact-us .contacts-address,
  section.contact-us .contacts-number,
  section.contact-us .contacts-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 32%; }
  section.contact-us .contacts-number {
    margin: 0 2%; }
  section.contact-us .address-text p, section.contact-us .phone-text p, section.contact-us .email-text p {
    margin: 0;
    margin-left: 30px; }
  section.contact-us .contacts-address {
    border-right: 1px solid rgba(88, 88, 88, 0.58); }
  section.contact-us .contacts-email {
    border-left: 1px solid rgba(88, 88, 88, 0.58); }

@media (max-width: 1200px) {
  section.contact-us .flex-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  section.contact-us .contacts-address,
  section.contact-us .contacts-number,
  section.contact-us .contacts-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    width: 50%;
    text-align: left;
    margin: 20px 0; }
  section.contact-us .contacts-email,
  section.contact-us .contacts-address {
    border: none; }
  section.contact-us .contacts-number {
    margin: 0; } }

@media (max-width: 768px) {
  section.contact-us .contacts-address,
  section.contact-us .contacts-number,
  section.contact-us .contacts-email {
    width: 90%; } }

footer {
  background-color: #100f0f;
  width: 100vw;
  max-width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 75px; }

footer::after {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid green; }

.footer-nav li {
  display: inline-block;
  list-style: none;
  margin: 0px 15px; }
