@import "setup";
@import "util";
@import "typography";
@import "components/header";
@import "components/footer";

/* general styles */
hr{
    width: 15%;
    border: 1px solid #e85889
}
.wrapper{
    position: relative;
    max-width: 70%;
    margin: 0 auto;
}

@media (max-width: 480px){
    .wrapper{
        max-width: 80%;
    }
}

input[type="button"]{    
    background-color: #e85889;
    border: 1px;
    border-radius: 5px;
    color: white;
    padding: 10px 40px; //good padding
}
/* general styles */


/* countdown section */
section.conference-countdown{
    padding: 75px 0;
    background-color: #fafafa;
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.03);

    .section__block .timer__block{
        display: inline-block;
    }

    .section__block .timer__separator
    {
        margin: 10px;
    }

    
    .text{
        width: 25%;  
        flex-basis: 280px;
    }

    .flex-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .timer__block{
            width: 37px;
            height: 45px;
            border-radius: 5px;
            text-align: center;
        }

        .black{
            background-color: #333333;
        }
    }

    .section__buttons{
        text-align: right;
        
    }

}


@media(max-width: 1500px){
    section.conference-countdown{

        .flex-container .text{
            text-align: right;
        }

        .section__buttons{
            width: 100%;
        }
    }
}

@media(max-width: 1100px){
    section.conference-countdown .flex-container{

        flex-direction: column;

        .text{
            text-align: center;
            width: 100%;
            flex-basis: initial;
        }

        .flex-container{
            flex-direction: row;
            justify-content: center;
        }

        .section__buttons{
            width: 100%;
            text-align: center;
        }
    }
}

@media (max-width: 480px){
    section.conference-countdown{
        
        .section__block{
            margin-top: 20px;
            .timer__separator{
                margin: 10px 3px;
            }   
        }
    }
}
/* End of conference countdown styles */
////////////////////////////////////////


/* main event section styles */
main.events{
    padding: 100px 0;

    .events__header, .events__subheader{
        text-align: center;
    }

    .flex-container{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .events__container{
            width: 30%;
            max-width: 367px;

            .events__desc{
                text-align: left;
                box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.13);
            }

            .events__container__img
            {
                width: 100%;
                padding: 0;
                margin: 0;
                display: block;
            }

            .events__desc{
                padding: 25px;
            }

            img{
                margin: 0;
                padding: 0;
                max-height: 100%;
                max-width: 100%;
                display: block;
            }

            .events__desc__header{
                margin: 0;
            }
        }
    }
}



@media (max-width: 768px){
    main.events{
        .flex-container .events__container{
            width: 100%;
            margin: 0 auto;
            margin-top: 50px;    //not sure if good practice, but for clarity..
        }
    }
}

@media (max-width: 480px){
    main.events{
        h2.events__header{
            line-height: 42px;
        }
    }
}
/* End of main event section styles */
//////////////////////////////////////

////////////////////////
/* join-event section */
section.join-event{
    padding: 100px 0;
    background: url(../images/join-event-bg.png);
    text-align: center;

    input[type="email"]{
        border-radius: 5px;
        border: 1px solid white;
        background-color: rgba(70, 63, 140, 0);
        padding: 15px 20px;
    }

    input[type="button"]{
        padding: 15px 20px;
    }
}
/*End of join event section */
//////////////////////////////


////////////////////////////
/* Event speakers section */
section.event-speakers{
    text-align: center;
    padding: 100px 0;

    .speaker-container{
        position: relative;
        margin: 10px;
        
        //hover on the speaker profile, and the social media icons appears. Also a blue tab is transitioned
        &:hover{
            .dark-circle{
                display: block;
                position: absolute;
            }
            .profile{
                background-color: #463f8c;

                h4.nametag{
                    color: white;
                }

                p.titletag{
                    color: #a6a0e3;
                }
            }
        }

        img{
            max-width: 100%;
            display: block;
            border-top-left-radius: 5px;           
            border-top-right-radius: 5px;
            margin: 0;
            padding: 0;
        }

        .fa-google-plus-g,
        .fa-twitter, .fa-facebook-f{
            margin: 0;
            padding: 0;
        }

        .profile{
            transition: all .3s ease-in-out;
            padding: 20px 10px;

            h4, p{
                padding: 0;
                margin: 0;
            }

            text-align: center;
            box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.03);
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    .dark-circle{
        display: none;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.55);
        width: 34px;
        height: 34px;
        padding: 2px 0px;
        font-size: 14px;
        line-height: 34px;
        text-align: center;
        color: white;
        transition: 0.3s all ease-in-out;
        top: 60%;
        &:hover{
            background-color: #e85889;
        }
    }

    .dark-circle-1{
        left: 20%;
    }
    .dark-circle-2{
        left: 45%;
    }
    .dark-circle-3{
        left: 70%;
    }

    .flex-container{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    //dot structure to mimic carousel
    .flex-dots{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dots{
        border-radius: 50%;
        background-color: #463f8c;
        width: 11px;
        height: 11px;
        margin: 3px;
    }

    a:target{
        border: 1px solid #e85889;
        border-radius: 50%;
    }
    a:target > div{
        background-color: #e85889;
        margin: 1px;
    }
    //end dot structure to mimic carousel
}

@media(max-width: 1600px){
    section.event-speakers{
        .flex-container{
            justify-content: space-around;
        }
    }
}

@media(max-width: 768px){
    section.event-speakers{
        .flex-dots{
            display: none;
        }
    }
}
/* Event speakers section */
////////////////////////////


//////////////////////
/* Pricing sections */
section.pricing{
    padding-top: 100px;
    background: url("../images/pricing-image.png");
    height: 75vh;
    width: 100vw;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;

    .price-listing{
        margin-top: 100px;
        padding: 30px;
        box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.04);
        background-color: white;
        width: 100%;
        height: 80vh;
    }

    .flex-plans{
        display: flex;
        width: 100%; height: 100%;

        .basic-plan,
        .optimal-plan,
        .premium-plan{
            position: relative;
            border: 1px solid #ececec;
            background-color: #fafafa;
            width: 33%;
            margin: 0 20px;
            padding: 50px 0;
            height: 100%;
            
            .plan-perks input[type="button"]
            {
                margin: 0 auto;
            }
        }

        .basic-plan{
            margin-left: 5px;
        }

        .premium-plan{
            margin-right: 5px;
        }

        .optimal-plan{
            position: relative;
            
            //for the weird little trap shape
            #trapezoid {
                border-bottom: 45px solid #463f8c;
                border-left: 45px solid transparent;
                border-right: 45px solid transparent;
                height: 0;
                width: 160px;
                color: white;
                transform: rotate(45deg);
                position: absolute;
                right: -40px;
                top: 18px;

                //text inside the trap shape
                p{
                    width: 100%;
                    text-align: center;
                    margin: 0 -40px 0 0;
                    padding: 0;
                }
            }
        }

        .plan-perks {
            text-align: center;

            p{
                text-align: left;
                margin: 0;
                border-top: 1px dashed #e0e0e0;
                padding: 10px 50px;
            }

            input[type="button"]{
                padding: 15px 20px;
            }
        }
    }
}

section.pricing-white{
    height: 90vh;
}

@media(max-width: 1500px){
        .basic-plan, .optimal-plan, .premium-plan{
            margin: 0 5px;
        }
}

@media(max-width:1200px){
    section.pricing{
        .price-listing{
            height: 50vh;
            .plan-perks  p{
                display: none;
            }
        }
    }

    section.pricing-white{
        height: 40vh;
    }
}

@media(max-width:768px){
    section.pricing{

        .plan-desc{
            display: none;
        }
        .price-listing{
            width: 85vw;
            margin: 0 -10%;
        }
        
        .flex-plans{
            .optimal-plan, .basic-plan, .premium-plan{
                position: relative;
                input[type="button"]{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
            .optimal-plan{
                #trapezoid {
                    border-bottom: 35px solid #463f8c;
                    border-left: none;
                    border-right: none;
                    width: 130px;
                    transform: rotate(0);
                    right: 0px;
                    left: 0px;
                    top: 0px;
                    p{
                        margin-top: 7px;
                        padding: 0;
                    }
                }
            }
        }
    }
}
/* End of Pricing sections */
/////////////////////////////


//////////////////////
/* Schedule section */
section.schedule{
    padding: 100px 0;
    background-color: #fafafa;

    .flex-content{
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        
        .flex-schedule-block{
            display: flex;
            flex-direction: column;
        }
    }

    .flex-schedule-block{
        padding-top: 50px;
        width: 20%;
        
        .day{
            border: 1px solid #ececec;
            padding: 30px;
            text-align: left;

            &:hover{
                background-color: #e85889;
            }
        }

        .date, .numbered-day{
            margin: 0;
            padding: 0;
        }
    }

    .event-guests{
        border-left: 1.5px dashed black;
        width: 65%;
        display: flex;
        flex-wrap: wrap;

        .scheduled-speaker-1{
            background: url("../images/schedule-1.png");
        }
        .scheduled-speaker-2{
            background: url("../images/schedule-2.png");
        }
        .scheduled-speaker-3{
            background: url("../images/schedule-3.png");
        }

        .speaker-container{
            width: 20%;

        /* Sandy's border mask technique from medium*/            
            position: relative; //for dots

            &:before{
                content: "";
                position: absolute; 
                border-bottom: 1.5px dashed black;
                display: inline-block;
                top: 40%;
                left: 1px;
                width: 20px;
            }
        }
        .borderMaskTop{
            position: absolute;
            top: 0px;
            left: -15px;
            height: 40%;
            width: 30px;
            background: #fafafa;
        }
        .borderMaskBottom{
            position: absolute;
            bottom: 0px;
            left: -15px;
            height: 59.5%;
            width: 30px;
            background: #fafafa;
        }
        /* Sandy's border mask technique from medium*/

        .profile-info{
            width: 80%;
            text-align: left;

            h4.speaker-name, p.scheduled-time{
                margin: 0;
                display: inline-block;                
            }
            h4.speaker-name{
                margin-top: 20px;
                margin-right: 20px; 
            }
            h3{
                margin-top: 10px;
                margin-bottom: 0;  
            }
        }

        .speaker{
            border-radius: 50%;
            background-size: cover;
            margin: 35px auto;
            width: 94px;
            height: 94px;

            &:hover{
                box-shadow: 0 0 0 7px #ececec;
            }
        }
    }
}

@media(max-width: 1300px){
    section.schedule{

        .event-guests{
            flex-direction: column;
            border: none;

            .speaker-container{
                position: initial; //breaks the link off of the dotted dash code
                width: 80%;
                &:before{
                    content: none;
                    border: none;
                }
            }

            .profile-info{
                text-align: center;
            }
        }
    }
}


/* End of schedule section styles */
////////////////////////////////////


///////////////////////////
/* quotes section styles */
section.quotes{
    padding: 100px 0;
    background-color: #463f8c;

    .content{
        display: flex;
    }

    .speakers-list{
        width: 20%;
        display: flex;
        flex-direction:column;
    }

    .quoter1{
        background: url(../images/quote-1.png);
    }
    .quoter2{
        background: url(../images/quote-2.png);
    }
    .quoter3{
        background: url(../images/quote-3.png);
    }
    .quoter4{
        background: url(../images/quote-4.png);
    }

    .quoter{
        margin: 15px 0;
        border-radius: 50%;
        background-size: cover;
        width: 46px;
        height: 46px;
   
        &:hover{
            box-shadow: 0 0 0 7px #ececec;
        }
    }

    .quoteblock{
        position: relative;
        width: 35%;

        h1.header-quote{
            margin: 0;
            padding: 0;

            &:before{
                content: "“";
                top: 35px;
                left: -75px;
                position: absolute;
                font-size: 110px;
                font-weight: 400;
                line-height: 26px;
            }
        }
    }
}

@media(max-width: 1000px){
    section.quotes{
        .wrapper{
            width: 90%;
        }

        .quoteblock{
            width: 60%;
        }
    }
}

@media(max-width: 640px){
    section.quotes{
        .quoteblock{
            margin-left: 40px;
            width: 80%;
        }
    }
}
/* quotes section styles */
///////////////////////////


//////////////////////////////
/* news section styles start*/
section.news{
    padding: 100px 0;

    .news-section-content{
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;
    }

    .blog-content1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 68%;
   
        .blog-image1, .blog-desc1{
            width: 50%;
        }

        .blog-image1{
            background: url("../images/news-1.png");
            background-size: cover;
            height: 301px;
        }
    }

    .blog-content2{
        flex-direction: column;
        width: 30%;
        margin-left: 2%;

        .blog-image2{
            width: 100%;
            background: url("../images/news-2.png");
            background-size: cover;
            height: 301px;
        }
    }

    .blog-desc1, .blog-desc2, .blog-desc3{
        background-color: #fafafa;
        height: 301px;
        padding: 30px;
    }

    .blog-desc3{
        width: 50%;
    }

    .blog-desc2{
        padding-top: 30px;
    }

    .facebook-box{
        height: 301px;
        width: 50%;
        margin-top: 3%;
        margin-left: 0%;
        padding: 3% 0;

        .blue-half, .grey-half{
            height: 50%;
        }

        .blue-half{
            padding-top: 20px;
            background-color: #463f8c;        
            text-align: center;

            a{
                text-decoration: none;
                color: white;
            }
        }

        .grey-half{
            background-color: #fafafa;
        }
    }
}

@media(max-width: 1200px){
    section.news{

        .blog-content1, .blog-content2{
            width: 100%;
        }

        .blog-content1{
            flex-direction: column;

            .blog-image1, .blog-desc1, 
            .blog-desc3, .blog-desc2, .facebook-box{
                width: 100%;
            }

            .facebook-box{
                margin-bottom: 75px;
            }

            .blog-desc3, .facebook-box{
                margin-top: 75px;
            }
        }
    }
}
/* End of news section */
/////////////////////////


////////////////////////
/* newsletter section */
section.newsletter{
    background: url("../images/white-pattern-bg.png");
    width: 100vw;
    padding: 100px 0;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;

    input[type="email"]{
        border-radius: 5px;
        border: 1px solid white;
        margin-right: 10px;
        padding: 10px 20px;
    }
}
/*newsletter section*/
//////////////////////


////////////////////////
/* contact us section */
section.contact-us{
    background-color: #1b1b1b;
    padding: 50px 0;

    .flex-contacts{
        display: flex;
    }

    .circle-container{
        flex-basis: 58px;
        border-radius: 50%;
        min-width: 58px;
        height: 58px;
        background-color: #2f2f2f;
        text-align: center;
        line-height: 60px;
    }

    .contacts-address,
    .contacts-number,
    .contacts-email{
        display: flex;
        justify-content: center;
        width: 32%;
    }
    .contacts-number{
        margin: 0 2%;
    }

    .address-text p, .phone-text p, .email-text p{
        margin: 0;
        margin-left: 30px;
    }

    .contacts-address{
        border-right: 1px solid rgba(88, 88, 88, 0.58);
    }
    .contacts-email{
        border-left: 1px solid rgba(88, 88, 88, 0.58);
    }
}


@media(max-width: 1200px){

    section.contact-us{
        .flex-contacts{
            flex-direction: column;
            align-items: center;
        }

        .contacts-address,
        .contacts-number,
        .contacts-email{
            display: flex;
            justify-content: left;
            width: 50%;
            text-align: left;            
            margin: 20px 0;
        }

        .contacts-email, 
        .contacts-address{
            border: none;
        }

        .contacts-number{
            margin: 0;
        }
    }
}

@media(max-width: 768px){
    section.contact-us{
        .contacts-address,
        .contacts-number,
        .contacts-email{
            width: 90%;
        }
    }
}
/* contact us section */
////////////////////////

